<launch>

  <include file="$(find ogmpp_map_loader)/launch/ogmpp_map_loader.launch" />
  <include file="$(find ogmpp_launchers)/launch/ogmpp_prms.launch" />

  <rosparam file="$(find ogmpp_graph)/cfg/ogmpp_graph_properties.yaml" command="load" />
  <include file="$(find ogmpp_launchers)/launch/rviz.launch" />


</launch>
